<script>
    var exis;
    var id;
function listarMedicamentos(){
    $('#modalChooseMedicamentos').modal('show');
    url = "{% url 'api_obtener_medicamentos' %}"
    $.ajax({
        url:url,
        type: "GET",
        dataType: "json"
    }).done(function(medicamentos){
        var filas = $('#modalChooseMedicamentosBodyTable');
        filas.empty();
        $.each(medicamentos, function(key, medicamentos){
            console.log(medicamentos.id_medicamento)
            filas.append('<tr onclick="seleccionarMedicamento('+medicamentos.id_medicamento+')">'+
            '<td>'+medicamentos.nombre+'</td>'+
            '<td>'+medicamentos.precio+'</td>'+
            '</tr>');
        });
    }).fail(function(){
        console.log("error");
    }).always(function(){
        console.log("complete");
    });
}


function seleccionarMedicamento(id){
    var filas = $('#lineaDeVenta')
    $('#modalChooseMedicamentos').modal('hide');
    url = "{% url 'api_seleccionar_medicamento' %}";
    $.ajax({
        url: url,
        type: "GET",
        data: {"id":id},
    }).done(function(medicamento){
        var filas = $('#lineaDeVenta');
        $.each(medicamento, function(key, medicamento){
            console.log(medicamento.id_medicamento)
            filas.append('<tr id="'+ medicamento.id_medicamento +'">'+
            '<td>'+medicamento.nombre+'</td>'+
            '<td id="precioUnitario">'+parseFloat(medicamento.precio)+'</td>'+

            //arreglar parametro de id
            '<td id="cantidad"><input style="width: 50px" id="canti'+medicamento.id_medicamento+'"  type="number" value="1" oninput="calcular('+medicamento.id_medicamento+')" pattern="^[0-9]+" min="1"></td>'+

            '<td id="descuento" value="">'+'0'+'</td>'+
            '<td id="subtotal'+medicamento.id_medicamento+'" class="subtotal"></td>'+
            '<td class="btn btn-danger btn-sm" onclick="eliminarMedicamento('+ medicamento.id_medicamento +')">Eliminar</td>'+
            '</tr>');
        });
    }).fail(function(){
        console.log("error");
    }).always(function(){
        console.log("complete");
        calcular();
        existencia();
    });    
}
function exixtencia(elemento){
    var sum = 0.0;
    $('#tablaVentas > tbody  > tr').each(function () {
        var qty = parseInt(document.getElementById("canti"+elemento).value);
        var price = $(this).find('#precioUnitario').text().replace(/[^\d.]/, '');
        var amount = (qty * price);
        sum += amount;
        $(this).find('#subtotal'+elemento).text(amount.toFixed(2));   
    });
  
    //just update the total to sum
    //Corregir suma total
    $('#tablaVentas > tfoot > tr > td.totalVenta').text(sum.toFixed(2));
    
}
function calcular(elemento){
    var sum = 0.0;
    $('#tablaVentas > tbody  > tr').each(function () {
        var qty = parseInt(document.getElementById("canti"+elemento).value);
        var price = $(this).find('#precioUnitario').text().replace(/[^\d.]/, '');
        var amount = (qty * price);
        sum += amount;
        $(this).find('#subtotal'+elemento).text(amount.toFixed(2));   
    });
  
    //just update the total to sum
    //Corregir suma total
    $('#tablaVentas > tfoot > tr > td.totalVenta').text(sum.toFixed(2));
    
}


function eliminarMedicamento(id){
    var fila = $("#"+id);
    fila.remove();
    calcular();
}

function clearTablaMedicamentos(){
    tabla = $('#tablaVentas > tbody#lineaDeVenta > tr');
    tabla.remove();
    total = $('#tablaVentas > tfoot > tr > td.totalVenta');
    total.child().remove();
}
</script>